<html ng-app="app">

<head>
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./js/placeholder-shimmer.js"></script>
  <script type="application/javascript">
    angular.module('app', ['ngPlaceholderShimmer'])
      .controller('test', function ($scope, $timeout) {
        $scope.showShimmer = true
        $timeout(function () {
          //$scope.showShimmer = false
        }, 3000)
      })
  </script>
</head>

<body ng-controller="test">

  <div ng-if="showShimmer == false" style="width: 500px;">
    <p align="justify"><img src="http://s3.amazonaws.com/libapps/accounts/27060/images/example.png" height="50" width="50" align="left"> Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <placeholder-shimmer ng-if="showShimmer == true">
    <table border="0">
      <tr>
        <td>
          <ps-square size="s"></ps-square>
        </td>
        <td>
          <ps-circle size="s"></ps-circle>
        </td>
      </tr>
      <tr>
        <td>
          <ps-square size="m"></ps-square>
        </td>
        <td>
          <ps-circle size="m"></ps-circle>
        </td>
      </tr>
      <tr>
        <td>
          <ps-square size="l"></ps-square>
        </td>
        <td>
          <ps-circle size="l"></ps-circle>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ps-text line="2" line-height="15"></ps-text>
        </td>
      </tr>
      <tr>
        <td>
          <ps-block style="width: 200px; height: 50px;"></ps-block>
        </td>
        <td>
          <ps-block style="width: 30px; height: 130px;"></ps-block>
        </td>
      </tr>
    </div>
      
    
  </placeholder-shimmer>

</body>

</html>